input,
textarea,
select,
button {
  width: 300px;
  margin: auto;
  border: rgb(171, 171, 171) 1px solid;
}

.new-post {
  width: 650px;
  flex-direction: column;
  background: aliceblue;
  text-align: center;
  display: flex;
  margin: auto;
  padding: 20px;
}
